[Unit]
Description=PGP Watch
After=pgpool.service
Documentation=http://rtfm.veritech.net

[Service]
Type=simple
ExecStart=/root/pgpoolwatch/pgpwatch.py
PIDFile=/var/run/pgpoolwatch/pgpwatch.pid
User=root
Group=root

[Install]
WantedBy=multi-user.target
